/* Reset styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styles */
body {
    background-color: #d9dcd6;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #2a607c;
    color: #ffffff;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin-right: 20px; /* Added margin to separate the name from the links */
}

header .seo {
    color: #d9dcd6;
}

header nav ul {
    list-style-type: none;
    padding-top: 15px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Links styles */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float styles */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Content styles */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits styles */
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.benefits .benefit-lead,
.benefits .benefit-brand,
.benefits .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sections styles */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer styles */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer h2 {
    font-size: 20px;
}
